@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #121420;
  --secondery-color: #0e6ba8;
}

#error {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ad0909;
  padding: 8px;
  border-radius: 20px;
  z-index: 99999;
}

#error button {
  all: unset;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.loading {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--secondery-color);
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  z-index: 999;
}

.close {
  all: unset;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--secondery-color);
  color: var(--main-color);
  border: var(--main-color) 2px solid;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 1001;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: var(--main-color);
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: top-to-bottom 0.6s;
  outline: 5px solid var(--secondery-color);
  z-index: 999;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    max-width: 780px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

.landing > .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  animation: fadeIn 1s;
}

.landing .container .descreption {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10vh;
  color: #fff;
  font-size: 40px;
  display: block;
  text-align: center;
  padding: 25px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  word-spacing: 6px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .landing .container .descreption {
    font-size: 17px;
    margin-top: 0;
  }
}

.landing .container .descreption .colored {
  color: var(--secondery-color);
  font-weight: 900;
}

.landing .container .descreption .big {
  font-size: 50px;
}

@media (max-width: 768px) {
  .landing .container .descreption .big {
    font-size: 40px;
  }
}

.landing .container .descreption .description-two {
  font-weight: 500;
}

.landing .container .btns-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  padding: 15px;
  border-radius: 65px;
  background-color: #2c2b3c;
  gap: 40px;
}

@media (max-width: 768px) {
  .landing .container .btns-container {
    padding: 25px;
    grid-template-columns: repeat(2, 90px);
  }
}

.landing .container .btns-container .btn {
  all: unset;
  text-align: center;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  transition: 0.3s;
}

.landing .container .btns-container .btn span {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  color: var(--secondery-color);
  background-color: var(--main-color);
  width: 80px;
  padding: 2px 0;
  font-weight: 900;
  border-radius: 13px;
}

.landing .container .btns-container .btn:hover {
  background-color: var(--main-color);
}

.landing .container .btns-container .btn svg {
  font-size: 30px;
  color: var(--main-color);
}

.landing .container .btns-container .btn:hover svg {
  color: var(--secondery-color);
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
